<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.datatech.cloud.cms.mapper.ArticleMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.datatech.cloud.cms.entity.Article" id="BaseResultMap">
        <result property="articleId" column="article_id"/>
        <result property="topicId" column="topic_id"/>
        <result property="title" column="title"/>
        <result property="author" column="author"/>
        <result property="fromurl" column="fromurl"/>
        <result property="image" column="image"/>
        <result property="keywords" column="keywords"/>
        <result property="description" column="description"/>
        <result property="type" column="type"/>
        <result property="allowcomments" column="allowcomments"/>
        <result property="status" column="status"/>
        <result property="content" column="content"/>
        <result property="userId" column="user_id"/>
        <result property="readnumber" column="readnumber"/>
        <result property="top" column="top"/>
        <result property="systemId" column="system_id"/>
        <result property="ctime" column="ctime"/>
        <result property="orders" column="orders"/>

        <result property="userName" column="username"/>
    </resultMap>

    <!--查询列表-->
    <select id="queryForPageBiz" parameterType="java.util.HashMap" resultType="com.datatech.cloud.cms.api.vo.article.ArticleInfo">
        select
            article.article_id articleId,
            article.topic_id topicId,
            article.title title,
            article.author author,
            article.fromurl fromurl,
            article.image image,
            article.keywords keywords,
            article.description description,
            article.type type,
            article.allowcomments allowcomments,
            article.status status,
            article.content content,
            article.user_id userId,
            article.readnumber readnumber,
            article.top top,
            article.system_id systemId,
            article.ctime ctime,
            article.orders orders,
            upuser.username
        from cms_article article
        left join upms_user upuser on article.user_id = upuser.user_id
        LIMIT ${(page-1)*limit},${limit}
    </select>

    <!--查询列表-->
    <select id="queryForPageMapBiz" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        select
            article.article_id articleId,
            article.topic_id topicId,
            article.title title,
            article.author author,
            article.fromurl fromurl,
            article.image image,
            article.keywords keywords,
            article.description description,
            article.type type,
            article.allowcomments allowcomments,
            article.status status,
            article.content content,
            article.user_id userId,
            article.readnumber readnumber,
            article.top top,
            article.system_id systemId,
            article.ctime ctime,
            article.orders orders,
            upuser.username
        from cms_article article
        left join upms_user upuser on article.user_id = upuser.user_id
        LIMIT ${(page-1)*limit},${limit}
    </select>
    <!--查询数量-->
    <select id="queryForPageCountBiz" parameterType="java.util.HashMap" resultType="java.lang.Long">
        select
          count(article.article_id) pageCount
        from cms_article article
        left join upms_user upuser on article.user_id = upuser.user_id
    </select>
</mapper>