<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.datatech.cloud.cms.mapper.ArticleCategoryMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.datatech.cloud.cms.entity.ArticleCategory" id="articleCategoryMap">
        <result property="articleCategoryId" column="article_category_id"/>
        <result property="articleId" column="article_id"/>
        <result property="categoryId" column="category_id"/>
    </resultMap>

</mapper>